# Compilados y artefactos Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
target/
**/target/

# Logs
*.log
hs_err_pid*
replay_pid*

# IDEs y Editores
.idea/
.vscode/
*.iml
.settings/
**/.settings/
.project
**/.project
.classpath
**/.classpath

# Sistema Operativo
.DS_Store
Thumbs.db

# Vaadin / Hilla y Frontend
node_modules/
**/node_modules/
src/main/frontend/generated/
**/src/main/frontend/generated/
vite.generated.ts
**/vite.generated.ts

# Variables de entorno locales
.env
.env.local

# Reglas de agentes locales
AGENTS.md
