
/* =========================
   GLOBAL / THEME BASE
========================= */

html {
    color-scheme: dark;

    /* DARK por defecto */
    --card-hover-shadow: 0 8px 30px rgb(128, 128, 255);
    
    --aura-accent-color-light: var(--aura-orange);
    --aura-accent-color-dark: var(--aura-purple);
}



/* LIGHT MODE (controlado por Vaadin theme attribute) */
html[theme="light"] {
    color-scheme: light;
    --card-hover-shadow: 0 8px 30px rgba(255,140,0,.35);
}

/* =========================
   APP HEADER
========================= */

.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
}

/* =========================
   SIDE NAV DEMO TEXT
========================= */

vaadin-side-nav:has(vaadin-side-nav-item:only-child)::after {
    display: block;
    content: "More menu items will appear here when you add more views.";
    font-size: var(--aura-font-size-s);
    color: var(--vaadin-text-color-secondary);
    box-sizing: border-box;
    padding: 1em;
    max-width: 14em;
    min-width: 100%;
    white-space: normal;
}

/* =========================
   ICONS
========================= */

vaadin-side-nav-item vaadin-icon {
    width: 35px;
    height: 35px;
}

/* =========================
   DASHBOARD CARD
========================= */

.dashboard-card {
    padding: 30px;
    min-height: 220px;
    border-radius: 15px;

    background: rgba(255,255,255,0.05);
    border: 1px solid gray;

    cursor: pointer;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: var(--card-hover-shadow) !important;
}


.btn-actualizar {
    background-color: #0080ff!important;
    color: white;
}




